﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="PrivacyPolicy.aspx.cs" Inherits="PrivacyPolicy" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <link rel="stylesheet" href="css/style1.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <div class="center wow fadeInDown" style="background: #12a5f4; padding: 2%; box-shadow: rgba(5, 150, 255, 0.298039) 0px 12px 19px inset, rgba(3, 142, 216, 0.398039) 0px 1px 6px">
        <div id="background-wrap" style="height: 0px;">
            <div class="x4">
                <div class="cloud"></div>
            </div>
        </div>
        <h2 style="color: #fff;">PRIVACY POLICY</h2>
    </div>

    <div class="container">
        <!-- Privacy Policy -->
        <div class="skill-wrap clearfix">

            <div class="center wow fadeInDown" style="text-align: left;">
                <h4>1. INTRODUCTION</h4>
            </div>
            <div class="center wow fadeInDown">
                <p class="lead" style="text-align: justify; font-size: 10pt;">
                    A. You("User"	or"you") are required to read and accept all of the terms and conditions laid down in this Privacy Policy Statement ("Policy")
                     and the linked Terms and Conditions, before you may use www.TOUCHONCLOUD.com (hereinafter referred to as "Site or "we" or "our" or "TOUCHONCLOUD").
                    
                    <br />
                    B. At TOUCHONCLOUD we are committed to maintaining your privacy. Our privacy policy statement is given below. If we make changes to this Policy,
                     we will notify you by updating this Policy statement on our Website. This Policy outlines the manner your data is collected and used by the Company.
                     You are advised to please read the Policy carefully. By accessing the services provided by the Site, you agree to the collection and use of your data 
                    by the Company in the manner provided in this Policy.
                    
                    <br />
                    C. The Policy does not apply to the procedures and practices followed by entities that are not managed, owned or controlled by the Company or to the 
                    people that are not engaged, employed or managed by the Company. Through this document, we wish to make you:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp; i. Feel at ease while using our Website;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;ii. Feel confident while sharing information with us;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;iii. Aware that you may contact us with your questions or concerns about privacy on this Website;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;iv. Aware that by using our websites you are agreeing to the collection of certain data.<br />

                    D. For purposes of this Policy:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;i. “Business partners” means all subcontractors, vendors or other entities with which we have a relationship for constant commercial supplies,
                     services or information;
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;ii. “Information” shall include data, message, text, images, sound, voice, codes, computer programmes, software and data bases or micro film or computer
                         generated micro fiche. 
                    <br />

                    &nbsp;&nbsp;&nbsp;&nbsp;iii. “Personal Information” means any information which is capable of identifying you (either directly or indirectly, in combination with other 
                    information available or likely to be available with us), such as your name, phone number and email address;
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;iv. “Privacy Rules” means Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011;
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;v. “Sensitive Personal Data or Information” shall have the meaning ascribed to such term under the Privacy Rules.
                </p>
            </div>


            <div class="center wow fadeInDown" style="text-align: left;">
                <h4>2. INFORMATION COLLECTED</h4>
            </div>
            <div class="center wow fadeInDown">
                <p class="lead" style="text-align: justify; font-size: 10pt;">
                    i. The Company collects the details provided by you on registration together with information we learn about you from your use of our service and 
                    your visits to our website and other websites accessible from them.   
                    <br />

                    ii. Please note that the Company does not access or store your Payment Card details (i.e. credit/debit card number, expiration date, CVV etc.). 
                    When you make a purchase using your card, all required transaction details are captured on the secured payment page, and encrypted using 
                    Industrial Strength Cipher, and are securely transmitted to your card issuer for obtaining an authorization decision. At no time during 
                    the purchase process or thereafter does the Company have access to, or store, your complete card account information.
                    <br />

                    iii. We may collect additional information in connection with your participation in any promotions or contests offered by us and information you provide
                     when giving us feedback or completing profile forms. We also monitor customer traffic patterns and website use, which enables us to improve the service 
                    we provide. We will collect only such information as is necessary and relevant to us to provide you with the services available on the website.  
                    <br />

                    iv. While you use our website, we may have automatic access to (receive and collect) certain anonymous information in standard usage logs through our web 
                        server, obtained from “cookies” sent to your browser from web server cookies stored on your hard drive, including but not limited to:  
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;a. Computer-identification information;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;b. IP address, assigned to the computer which you use;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;c. The domain server through which you access our service;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;d. The type of computer you're using;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;e. The type of web browser you're using.
                    <br />
                    v. While you are transacting on our website Personal Information collected about you may include<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;a. First and last name;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;b. Email addresses;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;c. Contact details including phone numbers;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;d. PIN/ZIP code;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;e. Demographic profile (like your age, gender, occupation, education, address and durables owned);<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;f. Personal preferences and interests (such as books, movies, music and so on); and<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;g. Your opinion on services, products, features on our websites.<br />
                    vi. We may also collect the following information about<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;a. The pages you visit/access;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;b. The links you click on our website;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;c. The number of times you access the page;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;d. Things you view, add to bag, add to wish list;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;e. Other websites you open simultaneously while browsing on ours.<br />
                    vii. You may terminate your account at any time by writing to us at _______________, from the email ID you have used for creating your account login, and mentioning “Please close my TOUCHONCLOUD.com account” in the subject line. We will disable access to your account within 2 working days of receiving your mail. However, your information may remain stored in archive on our servers even after the deletion or termination of your account.
                                                          
                </p>
            </div>



            <div class="center wow fadeInDown" style="text-align: left;">
                <h4>3. WHEN / HOW WE COLLECT THE INFORMATION</h4>
            </div>
            <div class="center wow fadeInDown">
                <p class="lead" style="text-align: justify; font-size: 10pt;">
                    i. We will collect anonymous traffic information from you when you visit our website.<br />
                    ii. We collect the Personal Information from you when you register with us or you transact as a guest. During registration you are required to give us
                     your contact information (such as name, email address, date of birth, gender, billing address, delivery address, pin code, mobile number, occupation, 
                    interests etc.) Upon registration users may receive communications from the Company (e.g. newsletters, updates). Even when transact as a guest we collect
                     identifiable information (such as name, email address, date of birth, gender, billing address, delivery address, pin code, mobile number etc.)<br />
                    iii. Any Information including Sensitive Personal Data or Information collected by us from you may be stored and processed in India or any other country in which we or our corporate affiliates, subsidiaries or agents maintain facilities that ensure the same level of data protection that is adhered to by us. You shall be deemed to have consented for transfer of your Information including Sensitive Personal Data or Information outside your country if you provide us your consent for collection and use of your Sensitive Personal Data of Information by us in the manner as specified in this Privacy Statement.
                    <br />
                    iv. We assure you that any Sensitive Personal Data or Information provided by you is collected when the collection of such information is necessary and used by us for a lawful purpose connected with our function or activity.
                    <br />
                    v. We use this information to contact you about the services you are using on our website and services in which you have expressed interest.
                    <br />
                    vi. When you purchase a product or service from us, we request certain Personal Information from you on our order form, in order to enable us to fulfil your requested service. You must provide contact information (such as name, email, and shipping address).
                    <br />
                    vii. We use this information for billing purposes and to fill your orders. If we have trouble processing an order, we will use this information to contact you.
                    <br />
                    viii. You have the option to provide demographic information (such as occupation, education and gender) to us; we encourage you to submit this information so we can provide you a more personalized experience on our website.
                    <br />
                    ix. If you choose to use our referral service to tell a friend about our website, we will ask you for your friend's name and email address. We will automatically send your friend a one-time email inviting him or her to visit the website. The Company does store this information and the information is used for the sole purpose of sending this one-time email and tracking the success of our referral program.
                    <br />
                    x. Your friend may contact us at ______________to request that we remove this information from our database.
                    <br />
                    xi. We are the sole owners of your information collected by us at different points on our Website.
                    <br />
                    xii. We will collect Personal Information about you only as part of a voluntary registration process, guest check out, on-line survey, or contest or any combination thereof.
                    <br />
                    xiii. Our advertisers may collect anonymous traffic information from their own assigned cookies to your browser.
                    <br />
                    xiv. The website contains links to other websites. We are not responsible for the privacy practices of such websites which we do not own, manage or control.
                    <br />
                    xv. We may at certain times make chat rooms, forums, instant messenger and message boards and other services available to you. Please understand that any information that is disclosed in these areas becomes public information. We have no control over its use and you should exercise caution when disclosing your personal information to anyone.
                    <br />
                    xvi. If you use a bulletin board or chat room on this website, you should be aware that any Personal Information you submit there can be read, collected, or used by other users of these forums, and could be used to send you unsolicited messages. We are not responsible for the Personal Information you choose to submit in these forums.                                      
                </p>
            </div>


            <div class="center wow fadeInDown" style="text-align: left;">
                <h4>4. DISCLOSING PERSONAL INFORMATION</h4>
            </div>
            <div class="center wow fadeInDown">
                <p class="lead" style="text-align: justify; font-size: 10pt;">
                    You agree that we may share or disclose your Information including Sensitive Personal Data or
                     Information with corporate affiliates and business partners (a) to carry out transactions you request or to make our 
                    business or that of our corporate affiliates more responsive to your needs; (b) if we reasonably consider it necessary to protect ourselves, its customers,
                     or the public; (c) who help us to perform transactions you request or who help us to customize, evaluate, process, analyse, and/or improve our communication
                     or relationship with you. We impose an obligation on our corporate affiliates and business partners who receive your Sensitive Personal Data or Information 
                    to keep such information secure in accordance with the Privacy Rules and to not disclose it further to third parties. You shall be deemed to have consented
                     to sharing and disclosure of your Information including Sensitive Personal Data or Information by us with our corporate affiliates and business partners if
                     you give your consent to provide us with your Sensitive Personal Data of Information in the manner as specified in this Policy. We may also disclose any
                     Information provided by you (which may include your Personal Information and Sensitive Personal Data or Information) (a) in connection with law enforcement,
                     fraud prevention, or other legal actions or legal obligations; or (b) if required to do so under applicable law or regulation in your country or by an order
                     under the law for the time being in force; or (c) to government agencies mandated under the law of your country to obtain such information for the purpose 
                    of verification of identity, or for prevention, detection, investigation including any real or suspected adverse event in relation to cyber security that
                     violates any applicable security policy. No consent will be required to be obtained by us from you for any of the aforesaid disclosures. In addition, you
                     agree that we may share your Information with business partners that help us carry out transactions you request or that help us to customize, process, 
                    evaluate, analyse, and/or improve our communication or relationship with you, and who share our commitment to protecting your Information. Except as
                     described above, we will not disclose your Personal Information including your Sensitive Personal Data or Information to third parties for their own 
                    marketing purposes, unless you consent for the same.                                     
                </p>
            </div>



            <div class="center wow fadeInDown" style="text-align: left;">
                <h4>5. HOW IS THE INFORMATION USED?</h4>
            </div>
            <div class="center wow fadeInDown">
                <p class="lead" style="text-align: justify; font-size: 10pt;">
                    The Company uses your contact information to send you:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;i. Password reminder and registration confirmation;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;ii. Special offers;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;iii. Changes in the policies or terms of use;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;iv. Event based communications such as order information, renewal notices, invites, reminders etc.<br />
                    We use your personal information to:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;i. Improve personalized features on our websites to enhance your shopping experience;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;ii. To contact you for your account / profile related matters or any other reason as may be necessary;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;iii. To provide the services requested by you, e.g. deliver merchandise ordered by you;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;iv. To preserve social history as governed by existing law or policy.<br />
                    We use anonymous traffic information to:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;i. Remember you in order to deliver better and more personalized service e.g. track your entries in our promotion schemes;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;ii. Recognize your usage privileges to our website;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;iii. Administer and manage smooth functioning of our website by diagnosing problems;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;iv. Track your session and activities so that we can understand better how people use our website.                           
                </p>
            </div>

            <div class="center wow fadeInDown" style="text-align: left;">
                <h4>6. WHO DO WE SHARE YOUR INFORMATION WITH?</h4>
            </div>
            <div class="center wow fadeInDown">
                <p class="lead" style="text-align: justify; font-size: 10pt;">
                    i. We do not share or rent your information with third parties except our agents and alliance partners.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;a. Agents: We use the services of our enabling partners such as outside shipping companies, courier services, resellers, business associates to fulfil orders, and credit / debit card processing companies to process the payment for goods and services ordered from the Site. These entities do not retain, store, share or use Personal Information or Sensitive Personal Information for any other purposes.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;b. Alliance Partners: We will share your Personal Information or Sensitive Personal Information with our alliance partners who work with us or on our behalf to help provide you the services. An alliance partner is a company or an individual who owns and manages (wholly or part of) online content on their websites powered by TOUCHONCLOUD.com.<br />
                    ii. We share email addresses with agents and Alliance partners. The agents and Alliance partners use the email address to confirm the deliveries, send notices and offer services related to the service.<br />
                    iii. We do not rent, sell or share your Personal Information or Sensitive Personal Information and we will not disclose any of your Personal Information to any other third parties unless:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;a. Required by special circumstances such as compliance with subpoenas, court orders, requests/order from legal authorities or law enforcement agencies requiring such disclosure;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;b. To help investigate, prevent or take action regarding unlawful and illegal activities, suspected fraud, potential threat to the safety or security of any person, violations of terms of use or to defend against legal claims;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;c. We have your permission; or<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;d. To provide products or services you've requested.<br />
                    iv. We reserve the right to disclose your Personal Information or Sensitive Personal Information and email address information as required by law and when we believe that disclosure is necessary to protect our rights and/or comply with a judicial proceeding, court order, or legal process served on our websites.<br />
                    v. We share your information with advertisers on an aggregate basis only.<br />
                    vi. The security of your personal information and email address is important to us. When you enter sensitive information (such as credit / debit card number) on our acquiring bank’s system or order forms, they encrypt that information using secure socket layer technology (SSL).To learn more about SSL, follow this link http://www.verisign.com/
                    <br />
                    vii. We follow generally accepted industry standards to protect the personal information and email address submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, while we strive to use commercially acceptable means to protect your Personal Information and email address, we cannot guarantee its absolute security.<br />
                    viii. If you have any questions about security on our website, you can email us at: ____________                            
                </p>
            </div>

            <div class="center wow fadeInDown" style="text-align: left;">
                <h4>7. HOW YOU CAN ACCESS YOUR INFORMATION</h4>
            </div>
            <div class="center wow fadeInDown">
                <p class="lead" style="text-align: justify; font-size: 10pt;">
                    We want to maintain the Information including Personal Information and Sensitive Personal Data or Information provided by you accurately. To view or edit any such information that has been stored online in your account, please visit the sections “My Account” / “Premier Account” sections on the Website. For the security of your account, you will be prompted to enter your login ID and password. You may review the information and shall inform us if any Personal Information or Sensitive Personal Data or Information is found to be inaccurate or deficient.<br />
                    We shall not be responsible for the authenticity of the Personal Information or Sensitive Personal Data or Information supplied by you and all liabilities in respect of the losses which may occur due to such incorrect Personal Information or Sensitive Personal Data or Information will be solely attributable to you.    
                </p>
            </div>

            <div class="center wow fadeInDown" style="text-align: left;">
                <h4>8. SELECTING YOUR COMMUNICATION PREFERENCES</h4>
            </div>
            <div class="center wow fadeInDown">
                <p class="lead" style="text-align: justify; font-size: 10pt;">
                    i. You may choose to receive or not receive marketing communications from us by indicating your preferences. Opportunities to select your preferences include the following:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;a. Selections from My Account / Premier Account sections on the Website lets you choose if you want to receive marketing communications from the Company and subscribe or unsubscribe to newsletters about our products and services; and<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;b. At any point, you can also visit our Subscription Centre and request removal from our advertising and marketing lists (catalogue, telephone, faxes, and email);<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;c. By the time you save a cart while shopping online, you can choose to receive reminders via email;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;d. All marketing by us or any third party on behalf of us, will be conducted in accordance with applicable laws of your country.<br />
                    ii. Please allow up to 10 business days for your email preferences to become effective.<br />
                    iii. As some promotions, such as direct catalogues, are developed in advance, you may receive marketing communication after receiving your request preference.
                </p>
            </div>


            <div class="center wow fadeInDown" style="text-align: left;">
                <h4>9. HOW WE SECURE YOUR INFORMATION</h4>
            </div>
            <div class="center wow fadeInDown">
                <p class="lead" style="text-align: justify; font-size: 10pt;">
                    The Grievance Officer shall redress your grievances are early as may be reasonable practicable.<br />
                    i. We are committed to protecting the security of your Information including Personal Information and Sensitive Personal Data or Information. We use a variety of security technologies and procedures to help protect your Information, Personal Information and Sensitive Personal Data or Information from unauthorized access, usage and disclosure, such as encryption, passwords, physical security, etc. While we strive to protect such information, we cannot ensure or warrant or guarantee that your Information or private communications you transmit to us will always remain private or confidential, and you do so at your own risk.<br />
                    ii. If a password is used to help protect your accounts and information, you are responsible for keeping your password confidential. Do not share this information with anyone. If you are sharing a computer with anyone you should always log out before leaving a site or service to protect access to your information from subsequent users.<br />
                    iii. We will not require you to transmit your SSN (Social Security Number) or NIN (National Identification Number) or UID (Unique Identification Number) or PAN (Permanent Account Number) or bank account number, as applicable on the Internet unless the connection is secure and the SSN or NIN or UID or PAN or bank account number is encrypted, nor expect you to transmit your SSN or NIN or UID or PAN or bank account number to access a website without requiring additional authentication.<br />
                    iv. We are committed to address your concerns with respect to processing of your Personal Information and Sensitive Personal Data or Information. For this purpose, we have designated a ‘Grievance Officer’ whose contact details are as follows:
                </p>
            </div>


            <div class="center wow fadeInDown" style="text-align: left;">
                <h4>10. COLLECTION AND USE OF CHILDREN'S INFORMATION</h4>
            </div>
            <div class="center wow fadeInDown">
                <p class="lead" style="text-align: justify; font-size: 10pt;">
                    We seriously consider the privacy of children. If you are under 18 years of age, please do not submit any Personal Information and Sensitive Personal Data or Information through our websites without the express consent and participation of a parent or guardian.

                </p>
            </div>


            <div class="center wow fadeInDown" style="text-align: left;">
                <h4>11. CHOICES AVAILABLE REGARDING COLLECTION, USE AND DISTRIBUTION OF INFORMATION</h4>
            </div>
            <div class="center wow fadeInDown">
                <p class="lead" style="text-align: justify; font-size: 10pt;">
                    i. You can accept or decline the cookies. All websites that are customizable require that you accept cookies. You must also accept cookies to register as someone for access to some of our services. For information on how to set your browser to alert you to cookies, or to reject cookies, go to http://www.cookiecentral.com/
                    <br />
                    ii. Cookies: A cookie is a small text file that is stored on a user's computer for record-keeping purposes. We use cookies on this website. We do link the information we store in cookies to any Personal Information you submit while on our website.<br />
                    iii. We use both session ID cookies and persistent cookies. We use session cookies to make it easier and secure for you to navigate our website. A session ID cookie expires when you close your browser. A persistent cookie remains on your hard drive for an extended period of time. You can remove persistent cookies by following directions provided in your Internet browsers “help” file. Reference for cookies can be found at http://www.cookiecentral.com/
                    <br />
                    iv. We use session cookies to store the secure session and browsing preferences of the user. We set a persistent cookie to store your username and interests so you don't have to enter it more than once. Persistent cookies also enable us to track and target the interests of our users to enhance the experience on our website.<br />
                    v. If you reject cookies, you may still use our website, but your ability to use some areas of our website, will be limited. Cookies are used in the shopping bag to enable enhanced security and to ensure there is no URL based spamming.<br />
                    vi. Unless you voluntarily identify yourself (through registration, for example), we will have no way of knowing who you are, even if we assign a cookie to your computer. The only personal information a cookie can contain is information you supply (an example of this is when transact as a guest or add items to shopping bag). A cookie cannot read data off your hard drive.<br />
                    vii. Some of our business partners (e.g., advertisers) set cookies while delivering banners on our website. We have no access to or control over these cookies.
                    <br />
                    viii. This privacy statement covers the use of cookies by TOUCHONCLOUD.com only and does not cover the use of cookies by any advertisers.<br />
                    ix. We do use cookies on point of collection pages of email address but we do not use them in emails.<br />
                    x. Our web servers automatically collect limited information about your computer's connection to the Internet, including your IP address, when you visit our website. (Your IP address is a number that lets computers attached to the Internet know where to send you data -- such as the web pages you view.) Your IP address does not identify you personally. We use this information to deliver our web pages to you upon request, to tailor our website to the interests of our customers, to measure traffic within our website and let advertisers know the geographic locations from where our visitors come.<br />
                    xi. TOUCHONCLOUD.com includes links to other websites. Such websites are governed by their respective privacy policies, which are beyond our control. Once you leave our servers (you can know where you are by checking the URL in the location bar on your browser), use of any information you provide is governed by the privacy policy of the operator of the website you are visiting. That policy may differ from ours. If you can't find the privacy policy of any of these websites via a link from the website's homepage, you should contact the website directly for more information.
                </p>
            </div>

            <div class="center wow fadeInDown" style="text-align: left;">
                <h4>12. VOLUNTARY DISCLOSURE OF INFORMATION</h4>
            </div>
            <div class="center wow fadeInDown">
                <p class="lead" style="text-align: justify; font-size: 10pt;">
                    i. Providing us with Personal Information is entirely voluntary. You are not required to register with us in order to use our websites. However, we offer some services only to visitors who do register.<br />
                    ii. You may change your interests at any time and may opt-in or opt-out of any marketing / promotional / newsletters mailings. The Company reserves the right to send you certain service related communication, considered to be a part of your account without offering you the facility to opt-out. You may update your information and change your account settings at any time.<br />
                    iii. We provide you with the opportunity to opt-out of having your email address used for certain purposes, when we ask for this information. For example, if you purchase a product / service but do not wish to receive any additional marketing material from us, you can indicate your preferences. If you no longer wish to receive our newsletter and promotional communications, you may opt-out of receiving them by selecting your preferences in “My Account”. If you still face an issue then you may contact us at _________or email us at ______________.<br />
                    iv. If your Personal Information or email address changes, or if you no longer desire our service, you may correct, update, delete or deactivate it by emailing our Customer Support at ___________.   
                    <br />
                    v. Upon request, we will remove / block your Personal Information from our database, thereby cancelling your registration. However, your Information may remain stored in archive on our servers even after the deletion or the termination of your account.   
                    <br />
                    vi. If we plan to use your Personal Information for any commercial purposes, we will notify you at the time we collect that information and allow you to opt-out of having your information used for those purposes.
                </p>
            </div>


            <div class="center wow fadeInDown" style="text-align: left;">
                <h4>13. SECURITY PROCEDURES TO PROTECT INFORMATION FROM LOSS, MISUSE OR ALTERATION</h4>
            </div>
            <div class="center wow fadeInDown">
                <p class="lead" style="text-align: justify; font-size: 10pt;">
                    i. To protect your privacy and security, we will verify your identity before granting access or making changes to your Personal Information. If you have registered your profile on TOUCHONCLOUD.com, your TOUCHONCLOUD.com ID and Password are required in order to access your profile information.<br />
                    ii. To protect against the loss, misuse and alteration of the information under our control, we have in place appropriate physical, electronic and managerial procedures. For example, our servers are accessible only to authorized personnel and your information is shared with respective personnel on need to know basis to complete the transaction and to provide the services requested by you.
                    <br />
                    iii. Although we will endeavour to safeguard the confidentiality of your Personal Information, transmissions made by means of the Internet cannot be made absolutely secure. By using this website, you agree that the Company will have no liability for disclosure of your information due to errors in transmission or unauthorized acts of third parties.<br />
                    iv. We follow generally accepted industry standards to protect the Personal Information and email addresses submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, while we strive to use commercially acceptable means to protect your personal information and email address, we cannot guarantee its absolute security.<br />
                    v. If you have any questions about security on our website, you can send email us at ____________ 
                    <br />
                    vi. All information gathered on the Site is securely stored within the TOUCHONCLOUD.com controlled database. The database is stored on servers secured behind a firewall; access to the servers is password-protected and is strictly limited. However, as effective as our security measures are, no security system is impenetrable. We cannot guarantee the security of our database, nor can we guarantee that information you supply will not be intercepted while being transmitted to us over the Internet and, of course, any information you include in a posting to the discussion areas is available to anyone with internet access.
                    <br />
                    vii. However, the internet is an ever evolving medium. We may revise our Policy from time to time to incorporate necessary changes. Of course, our use of any information we gather will always be consistent with the policy under which the information was collected, regardless of what the new policy may be.
                    <br />
                    viii. We use third-party advertising companies to serve ads when you visit our website. These companies may use information (not including your name, address, email address or telephone number) about your visits to this and other websites in order to provide advertisements about goods and services of interest to you.
                </p>
            </div>

            <div class="center wow fadeInDown" style="text-align: left;">
                <h4>14. CORRECTION OF INACCURACIES IN THE INFORMATION</h4>
            </div>
            <div class="center wow fadeInDown">
                <p class="lead" style="text-align: justify; font-size: 10pt;">
                    To correct or update any information you have provided, our websites allow you to do it online.
                </p>
            </div>

            <div class="center wow fadeInDown" style="text-align: left;">
                <h4>15. THIRD-PARTY WEBSITES AND SERVICES</h4>
            </div>
            <div class="center wow fadeInDown">
                <p class="lead" style="text-align: justify; font-size: 10pt;">
                    Be aware that other websites that can be accessed through our website may collect your Information, Personal Information and Sensitive Personal Data or Information. The information practices of those third-party websites linked to the Site are not covered by this Privacy Statement. We will not be responsible for any breach of your privacy or any other loss arising to you as a result of collection of you Information, Personal Information and Sensitive Personal Data or Information by such websites.
                <br />
                    Please be aware that, in providing services on our behalf, our business partners may collect information about you to provide services on behalf of us.
                </p>
            </div>



            <div class="center wow fadeInDown" style="text-align: left;">
                <h4>16. POLICY UPDATES</h4>
            </div>
            <div class="center wow fadeInDown">
                <p class="lead" style="text-align: justify; font-size: 10pt;">
                    i. We reserve the right to change or update this Policy at any time by placing a prominent notice on our website. Such changes shall be effective immediately upon posting to this website.    
                    <br />
                    ii. If we make changes to this Privacy Statement in Relation to Customer Information and Online, or we make any material changes to the way we will use your Information including Personal Information and Sensitive Personal Data or Information, we will review the Privacy Statement to reflect such changes and also the effective date of the declaration, included at the end of this section. We reserve the right to modify this privacy statement at any time, so please review it frequently. If we make material changes to this policy, we will notify you here, or by means of a notice on our homepage. 
                    <br />
                    iii. If we decide to make changes in our email practices, we will post those changes to this privacy policy, the homepage, and other places we deem appropriate so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it. 
                    <br />
                    iv. We encourage you to periodically review this Privacy Statement to stay informed about how we are protecting your Information including Personal Information and Sensitive Personal Data or Information.
                    <br />
                    v. You can offer your views, suggestions, if any, by submitting the filled in feedback form online.
                </p>
            </div>



            <div class="center wow fadeInDown" style="text-align: left;">
                <h4>17. CONTACT INFORMATION</h4>
                <h5>You can contact us at:</h5>
            </div>
            <div class="center wow fadeInDown">
                <p class="lead" style="text-align: justify; font-size: 10pt;">
                    Privacy Statement Regarding Customer and Online User Information Effective Date: [ ] January, 2012
                </p>

            </div>


        </div>
    </div>

</asp:Content>

